[2018-07-06 16:40] jonorthwash opened #1 "how to deal with илик"
## Meaning, distribution

The form "илик" only occurs in verb forms and adjusts the meaning to something like "not yet":

Aside from its use in finite verb complexes, it can also be attributive (verbal adjective):

## Similar things in other languages

Kyrgyz is the only language where we've implemented something similar:

[code]

[code]

There's also a gerund reading, in constructions like:
[code

[2018-07-06 16:42] jonorthwash commented on #1
The initial approach would be to treat it similarly as in Kyrgyz, but we should probably find a better name than "notyet".  There's a grammatical term used for this in some grammars; need to check that.

[2018-07-06 16:50] jonorthwash commented on #1
@varie, could you find out what Sakha grammars call forms with илик ?

[2018-07-06 16:52] jonorthwash commented on #1
Tuvan has this too; Anderson and Harrison (1999, 45) call it "unaccomplished" and uses `UNACMPL` as the grammatical abbreviation.

[2018-07-06 16:54] jonorthwash commented on #1
In [apertium-tyv](https://github.com/apertium/apertium-tyv) we have
[code]
and
[code]

[2018-07-06 16:56] jonorthwash commented on #1
We seem to have the following currently in apertium-sah:
[code]

What's `nond` stand for?

[2018-07-06 17:11] jonorthwash opened #2 "verb forms with эбит"
Sakha has "complex verb forms" with эбит.

Many other Turkic languages have this.

In Turkish, the etymologically identical and semantically similar (`dub` instead of `evid`) form is "gelmiş imişler"/"gelmişmişler":
[code]

In Kazakh, it's equivalent morphologically and semantically to "келген екен":
[code]
And Kyrgyz
[code]

There are a number of strategies for dealing with this sort of construct

[2018-07-06 18:13] ftyers commented on #1
@jonorthwash I'm not sure, and I also can't remember which grammar(s) we looked at when working on the morphotactics... @varie could you give us 2-3 example sentences with `-{A} илик` ?

[2018-07-06 18:14] ftyers commented on #2
I agree, it looks more like the Kazakh/Kyrgyz and we're currently working on translation for Kazakh->Sakha, so that solution seems to make most sense for now.

[2018-07-06 20:47] jonorthwash commented on #1
@ftyers, see examples in the initial issue comment.  Both examples are just like the Kyrgyz one.

[2018-07-07 14:09] varie commented on #1
Examples:

[2018-07-07 15:41] varie opened #3 "verbs like сырыт/сылдьар"
- [ ] ыарый/ыалдьар
- [ ] оҕус/охсор
- [ ] араҕыс/арахсар
- [ ] сайын/сайдар
- [ ] умун/умнар
- [ ] үтүгүн/үтүктэр

- [ ] эбилин/эбиллэр
- [ ] бэрилин/бэриллэр
- [ ] иҥэрилин/иҥэриллэр
- [ ] иһилин/иһиллэр
- [ ] талылын/талыллар
- [ ] туһанылын/туһаныллар

- [ ] төнүн/төннөр
- [ ] кытын/кыттар

- [x] орт/ордор
- [x] тарт/тардар
- [ ] тириэрт/тириэрдэр

- [x] сыһын/сыстар

[2018-07-07 15:43] varie commented on #3
сыһын/сыстар

[2018-07-07 19:10] ftyers commented on #3
@varie can you tell us a bit what is going on here?  What are those forms ?

[2018-07-09 19:30] varie commented on #3
These are imp, p2, sg and aor, p3, sg forms. aor forms weren't analysed, because of some phonological changes occur there. Now part of them is working.

[2018-07-17 04:34] jonorthwash commented on #3
Most of these are working now—just not the ones with т/д alternation.  @varie, could you check the forms in the `"Verbs with voicing of final coronals"` section of `aorist.yaml`?

[2018-07-17 04:53] jonorthwash opened #4 "буолуон"
What's буолуон mean?  Is this a form of буол?  If so, how is the suffix `{I}{A}н` used?

[2018-07-17 05:16] jonorthwash opened #5 "figure out which forms are possible in which roles"
Which of these forms can be used in which ways?

| suffix form | example forms | finite? | subst/ger? | advl/gna? | attr/gpr? | with aux / prc? |
|---------------|----------------------|---|---|---|---|---|
| -{А}р | барар, саныыр | yes |  |  |  |  |
| -{B}{I}т | барбыт, санабыт | yes |  |  |  |  |
| -{I}{A}х | барыах, буолуох | yes |  |  |  |  |
| -{I}{A} | барыа, буолуо |  |  |  |  |  |
| -{D}{A

[2018-07-17 13:01] varie commented on #4
Yes, it is form of буол.
Closest form I found in Ubryatova book[1] is:

It might be a contracted form of future tense singular 2 person but with substitution of ҥ by н for some reason.

Also in Wikipedia corpus it is often found as "буолуон сөп" -  "может быть" - "might be".
443 out of 606 occurrences of "буолуон" are found as "буолуон сөп".
Examples:
Ыйааһына 9 киилэттэн 30 киилэҕэ диэри буолуон

[2018-07-17 14:57] jonorthwash commented on #4
Yeah, I couldn't find it in that book either—that's why I opened this issue.  Even the best grammars often miss things.

You comments on this issue so far are really helpful.  With a little more info we might be able to categorise the form ourselves.

1. What does "сөп" mean in other contexts?
2. How are some of the other occurrences of "буолуон" in the corpus used?  That is, could you gloss some

[2018-07-18 18:33] varie commented on #4
Nice! :)

1. According to sakhatyla.ru dictionary сөп means:
- _adjective_ right, correct.
сөп санаа - right thought
- yes, okay.
сөп, оҥоруом - okay, I will do it
- _adverb_ enough
сөп улахан - enough big

2. **буолуон син** - it means basically same as буолуон сөп
**буолуон иннинэ** - before it become so
Examples:
президент _буолуон иннинэ_ - _Before becoming_ a president
Ол _буолуон иннинэ_ сор

[2018-07-18 20:13] jonorthwash commented on #4
Okay, it looks a lot like a verbal noun suffix.  Can forms with this suffix take case or possessive suffixes too?

[2018-07-19 10:33] varie commented on #4
No, I think they cannot.
It's not right to say, for example, буолуоны, буолуона, etc.

[2018-07-19 15:35] jonorthwash commented on #4
Also, @varie, is there a negative version of these forms?

[2018-07-19 18:48] varie commented on #4
Yes: буолумон, кииримиэн, барымыан.

[2018-07-19 18:53] varie commented on #5
Yeah, sure! Could you give some examples, please?

[2018-07-19 19:17] jonorthwash commented on #4
Ah cool.  And what do the negative forms look like after forms with various vowels?

[2018-07-19 19:23] jonorthwash commented on #5
Okay, some initial guidelines:

Verbal nouns (=gerunds) are forms that can do any of the following:
- act as the subject of a sentence,
- take various case suffixes and act in other roles in a sentence that a noun or pronoun might normally occur,
- take possessive suffixes, though not necessarily in the meaning of possession (e.g., maybe to agree with the subject of the verb).

Try filling in that

[2018-07-21 18:03] jonorthwash opened #6 "analysis of forms in {I}лл{I}б{I}т"
There are a lot of what appear to be {I}лл{I}б{I}т forms in the corpus:
[code]

There are also a bunch that have an extra {A} at the end:
[code]

What do these forms mean?  They look almost like passive followed by the past {B}{I}т, but they seem to have an extra vowel.  Is this all they are?  And the ones with {A} are possessives of the past gerund of the passive?

[2018-07-21 18:16] jonorthwash opened #7 "analysis of forms in {B}{I}т{I}н"
There are a number of what appear to be verb forms in {B}{I}т{I}н in the corpus.  What do these mean / how are these used?
[code]

Note the ones with an extra {A}н.

[2018-07-23 10:20] varie commented on #7
According to Ubryatova[1], it might be accusative case of -быт participle. For example, "Уйбаан _сылдьыбытын_ кини кэпсээбэтэх" - She/he didn't tell about Ivan was there. And ones with an extra {A}н seems to be instrumental case of the same participle. For example, "Биир сарсыарда почтальон кинини _көрбүтүнэн_ киирдэ" - One morning a postman went inside watching her/him.

1. Убрятова Е.И. (ред.).

[2018-07-23 12:38] varie commented on #6
- {I}лл{I}б{I}т forms seem to be passive followed by the past {B}{I}т. They mean something/someone to what/whom something was done:
ылыллыбыт - something what was picked
оҥоһуллубут - something what was created
ыҥырыллыбыт - someone who was invited

- And the ones with {A} are possessives of the past gerund of the passive?
It also might be singular 3 person преждепрошедшее повествовательное время

[2018-07-23 12:43] jonorthwash commented on #6
In your example it seems to be that.  Are there also examples of the possessive reading, or no?

Are there other forms that passive + BIт take, or do all transitive verbs take IллI as passive before BIт?

[2018-07-23 12:45] jonorthwash commented on #7
Can BIт take other cases?  What about possessive suffixes?  Could you provide some example forms of these as well?

[2018-07-23 12:47] varie commented on #6
Ah, yes, I found this: "1996 сыл – оскуола тэриллибитэ 110 сыллаах үбүлүɵйэ" - 1996 year is 110 year anniversary of school foundation. Is it the possessive reading?

[2018-07-23 12:50] varie commented on #4
Could you provide some examples, please?

Also, I found in Ubryatova book such sentence: "Айаҥҥа _туруон_ биир хонук _иннинэ_ комсомол тэрилтэтин мунньаҕа буолбута" - There was meeting of komsomol organisation day before he left. And she says that it is genitive case of -ыах participle (туруох) with иннинэ postposition.

[2018-07-23 13:04] varie commented on #7
Yes, it can take other cases and possessive suffixes as well:
"Үҥсүү _киирбитигэр_ милиция кэлбит" - When a complaint was received, police came.
"Хоту участок дьоно _кэлбэтэхтэриттэн_ уопсай мунньах буолбатах" - Due to the fact that people from the northern section did not appear, the general meeting did not take place.

[2018-07-23 13:16] jonorthwash commented on #6
Yes, looks like it.  Can you think of an example with something other than 3rd person?

[2018-07-23 13:41] varie commented on #6
Something like "Мин барбытым 3 сыл буолла" - it's been 3 years since I left. (?)
"Эн барбытын 3 сыл буолла"
"Кини барбыта 3 сыл буолла"
"Биһиги барбыппыт 3 сыл буолла"
"Эһиги барбыккыт 3 сыл буолла"
"Кинилэр барбыттара 3 сыл буолла"

[2018-07-23 14:46] jonorthwash commented on #6
Yes, awesome!  And can you get the full range of possessive and case endings?  Do they have unexpected forms?

[2018-07-23 15:41] varie commented on #6
Yes, it seems to be so:

барбытым
барбыппын
барбыппар
барбыппыттан
барбыппынан
барбыппыныын
барбыппынааҕар

барбытын
барбыккын
барбыккар
барбыккыттан
барбыккынан
барбыккыныын
барбыккынааҕар

барбыта
барбытын
барбытыгар
барбытыттан
барбытынан
барбытыныын
барбытынааҕар

барбыппыт
барбыппытын
барбыппытыгар
барбыппытыттан
барбыппытынан
барбыппытыныын
барбыппытынааҕар

барбыккыт
барбыккытын
барбыккытыг

[2018-07-23 16:47] varie commented on #6
And also:

барбыта
барбытын
барбытыгар
барбытыттан
барбытынан
барбыттыын
барбыттааҕар

барбыттара
барбыттарын
барбыттарыгар
барбыттарыттан
барбыттарынан
барбыттардыын
барбыттардааҕар

oh, but барбыт is not passive. But I think same is applicable to, for example, тэриллибит:
тэриллибитим
тэриллибиппин
тэриллибиппэр
тэриллибиппиттэн
тэриллибипинэн
тэрилибиппиниин
тэрилибиппинээҕэр
etc.

[2018-08-04 17:25] jonorthwash commented on #5
Verbal adjectives (attr/gpr = глагольное прилагательное) are verb forms that can modify nouns in much the same way as adjectives.  For example, бара илик киһи,

[2018-08-04 17:46] jonorthwash commented on #4
So, what do the affirmative and negative of this suffix look like after verbs like диэ, аһаа, төрөө, and ыа?

[2018-08-04 18:51] jonorthwash commented on #5
Verbal adverbs (`advl/``gna` = глагольное наречие) and `prc` (≈participle/причастие) are very similar, so this can be difficult.  They both occur with other verbs, but the difference is that verbal adverbs [usually] form two predicates ("He ate _as he was fishing_") whereas `prc` occurs only with auxiliaries to create a single predicate ("He can _fish_", or "He finished _fishing_").  Often in Turk

[2018-08-04 22:30] jonorthwash commented on #5
Here are some Sakha examples of `prc` that I found in lexc comments:
_сиэн_ кэбис
_бара_ сыста

[2018-08-07 13:49] varie commented on #5
Видообразующие служебные глаголы combine with -ан and -а (ыы) forms and become grammatical indicator of an aspect of a verb. Ubryatova describes following groups of видообразующие служебные глаголы:
1. эр;
2. оҕус, кэбис, хаал;
3. ис, тур, түс;
4. бар, сырыт.

Модальные служебные глаголы have modal and modal-temporal meaning. Ubryatova desribes following groups:
1. Main group is functional modal v

[2018-08-07 13:56] jonorthwash commented on #5
What verb forms do these combine with?

And could you give some prc examples of verb forms like барар and барыах?

Also, you mentioned one other type of modal the other day?

[2018-08-07 14:17] jonorthwash commented on #5
There are some Kazakh examples of gna on the Apertium wiki here: http://wiki.apertium.org/wiki/Turkic_lexicon#Verbal_adverbs

Does this help clarify?

[2018-08-08 08:57] varie commented on #5
What verb forms do these combine with?
1. First group combine with причастие будущего времени в форме винительного и дательного падежей (-ыаҕын или -ыахха + modal verb).
Examples:
Ааҕаччы болҕомтотун биир түбэлтэҕэ _тохтотуохпун баҕарабын_. - I would like to draw the reader's attention to one occasion.
Вася, мин эмиэ партияҕа _киириэхпин саныыбын_. - Vasya, I also think about joining the party
2.

[2018-08-08 12:31] jonorthwash commented on #5
I don't understand what the first and second groups are... Those are all with модальные служебные глаголы?

Also, what about my other questions?

[2018-08-08 12:34] jonorthwash commented on #5
The two examples of this both appear to be -ыахпын.  Could you explain how this corresponds to the the explanation?

[2018-08-08 17:14] varie commented on #5
Yes, Ubryatova divided them into two groups: functional modal verbs and for second group she didn't give any specific name.

Are these fine?
Арыт киэһэлэргэ бэрэбинэлэр үрүлэригэр тахсан хамсаабакка бүк түһэн _олорор буолар_ - In other evenings sometimes he sits hunched over on logs.
Аҕыйах хонон баран Михей куоракка үөрэнэ _киирэр буолар_ - A few days later, Micah decides to go to town to study.

[2018-08-08 18:39] jonorthwash commented on #5
Verbal adverbs and `prc` are both called деепричастие in Russian.  It's important to be able to keep them separate

These are accusative??  Aren't these just finite forms?  That is, can't they be the main verb at the end of a sentence / the only verb in a sentence?
.

[2018-08-09 10:34] varie commented on #5
Aa! I will recheck advl/gna column.

Hmm.. Ubryatova says that причастие на -ыах gets possessive affixes and makes indicative future tense:
барыаҕым
барыаҕыҥ
барыаҕа
барыахпыт
барыаххыт
барыахтара

So then accusative case of those forms would be:
барыахпын
барыаххын
барыаҕын
барыахпытын
барыаххытын
барыахтарын

I think they are not finite forms. I found only these three occurrences in Wikipedia co

[2018-08-09 14:31] jonorthwash commented on #5
Aha, this is making more sense to me now.  In this case, -IAх is a verbal noun suffix.

I also note that in the second group, - IAх, -Aр, and -BIт only occur with буол.  This is good evidence that they are acting as verbal nouns (in nominative) in those contexts.

Evidence that would suggest these are verbal nouns would include uses with буол where the subject of the verb and буол is different.  C

[2018-08-12 18:39] jonorthwash commented on #5
From IRC:

"Мин куоракка киирэрим буолар." - I'll decide to go to the city.
"Мин куоракка киирэр буолабын." - Me going to the city happens.

[2018-08-12 20:44] jonorthwash opened #8 "forms of -TAх"
I'm trying to understand the range of things -TAх does.  As we discussed on IRC, the information on pp. 236 to 237 of Убрятова suggests there are two main "moods" that use this suffix: второе условное and предположительное.  There are also verbal adjective and verbal noun uses.

So my questions are:
1. Are второе условное and предположительное moods both finite?
2. Are there some good examples of

[2018-08-12 21:55] varie commented on #8
**Условное наклонение**
Examples:
Бүгүн үлэбин _бүтэрдэхпинэ_, үчүгэй буолуо этэ - It would be good if I finish my work today.
Ити туһунан куоракка _сырыттахпына_ кэпсээбиттэрэ - I was told about this when I was in the city.
Оттон бүгүн _киинэлээтэхпинэ_? - What if I go to a cinema today?

бардахпына
бардаххына
бардаҕына
бардахпытына
бардаххытына
бардахтарына

барбатахпына
барбатаххына
барбатаҕына

[2018-08-13 04:25] jonorthwash opened #9 "number in 3rd person possessive forms of gerunds"
We originally had just a `<px3sp>` in the lexicon, but it looks like there are distinct singular and plural forms, e.g.
`барбытыгар/бар<v><iv><ger_past><px3sg><dat>`
`барбыттарыгар/бар<v><iv><ger_past><px3pl><dat>`

However, some recent tests have forms like
`барыахтарыгар/бар<v><iv><ger_fut><px3sp><dat>`

Is `барыаҕыгар` a singular form to this plural form?  Are there any possessives that don't h

[2018-08-13 04:44] jonorthwash commented on #8
What's the difference in meaning between these sentences?

Валя дьиэтигэр тиийдэҕэ.
Валя дьиэтигэр тиийбит эбит.

Or these two:
Кэлдэхтэрэ.
Кэлбит эбиттэр.

[2018-08-13 05:35] jonorthwash commented on #8
Just a note: the negative условное forms appear to be exactly the same as the negative past partitive forms, e.g.:
`^барбатахпытына/бар<v><iv><neg><gna_cond2><p1><pl>/бар<v><iv><neg><ger_past><px1pl><par>$`

[2018-08-13 21:11] jonorthwash commented on #8
Also, what's the difference between these sentences?

Бүгүн үлэбин бүтэрдэхпинэ, үчүгэй буолуо этэ.
Бүгүн үлэбин бүтэрдэрбин, үчүгэй буолуо этэ.

[2018-08-13 21:16] jonorthwash commented on #8
From IRC:

[code]

So what would you say in the case that someone told you "Валя дьиэтигэр тиийбит." and shortly after someone else asked you about Valya?

What about if someone told you "Валя дьиэтигэр тиийдэ." and shortly after someone else asked you about Valya?

What about if someone told you that Valya is home and shortly after someone else asked you about Valya?

What about if someone told y

[2018-08-14 11:48] varie commented on #8
What about if someone told you "Валя дьиэтигэр тиийдэ." and shortly after that someone else asked you about Valya?
What about if someone told you that Valya is home and shortly after that someone else asked you about Valya?

I would say "Валя дьиэтигэр тиийбит үһү". Or from those two options I would choose "Валя дьиэтигэр тиийбит эбит".

What about if you saw Valya's shoes and coat at home, and sh

[2018-08-17 10:25] varie commented on #8
тиийбиппин үһү
тиийбиккин үһү
тиийбит үһү
тиийбиппит үһү
тиийбиккит үһү
тиийбиттэр үһү

[2018-08-17 15:56] jonorthwash commented on #9
@ftyers, so you suggest all "singular" forms should be p3.sp, and all "plural" forms should be p3.pl.  Is that right?

[2018-08-17 16:00] varie commented on #2
I tried to add it here - https://github.com/apertium/apertium-sah/commit/f27a04413808f2c55728faf433a17a9e392654e7.

[2018-08-17 16:01] varie commented on #3
I checked that section and changed a bit in https://github.com/apertium/apertium-sah/commit/223c26107bfffd9025c1707b9651205d9b922b2c.

[2018-08-17 16:02] ftyers commented on #9
@jonorthwash I think that's a good way forward, yes. Providing it works like in Turkish, where 3SG forms are ambiguous between singular and plural.

[2018-08-17 16:04] varie commented on #4
I think they would be:
диэн - диэмиэн, аһыан - аһыамыан, төрүөн - төрүөмүөн, ыан - ыамымыан

[2018-08-17 16:29] jonorthwash commented on #1
This has been taken care of; cf. https://github.com/apertium/apertium-sah/commit/ea8ace4f0d80bde40b165637c4aecc68d8ab6cf9 .

[2018-08-17 16:29] #1 closed

[2018-08-17 16:31] jonorthwash commented on #7
This has been dealt with; we now get e.g.

    ^кэлбитин/кэл<v><iv><ger_past><px3sg><acc>$
    ^олорбутун/олор<v><iv><ger_past><px3sg><acc>$

[2018-08-17 16:31] #7 closed

[2018-08-17 16:39] jonorthwash commented on #3
I have those forms working now too, in 5353300.

[2018-08-17 16:50] jonorthwash opened #10 "issues to discuss in paper"
* Various issues in `aorist.yaml`
  * Especially `таҕыс:тах%{y%}с%{ы%} V-IV ; ! "выходить"`
* Development process using GitHub issues

[2018-08-17 16:54] jonorthwash commented on #3
I have basically all of aorist.yaml passing, so I'm going to close this issue.

[2018-08-17 16:54] #3 closed

[2018-08-17 17:03] jonorthwash opened #11 "forms that aren't being analysed"
@varie, could you provide some information on each of these forms?  They're coming up as common unanalysed forms.

* буолкалах
* буолааччы
* баргыа
* үөскүүр
* сыллардаахха
* суруллубут
* оҥоһуллубут

Most of them look like inflected forms of stems we have in the transducer, but they could also be derived forms.  Either way, let's look at each one carefully and think about how to add to the transd

[2018-08-17 17:33] jonorthwash opened #12 "-дээх"
I'm finding a lot of forms with -дээх, mostly after №, like this:

    27 №-дээх оскуолаҕа

What is this form?

[2018-08-17 17:37] jonorthwash commented on #8
What other verb forms can үһү come after?  For example, can it come after барар?  Бардах?  Барда?  Барыах?  Etc.

[2018-08-17 17:48] jonorthwash commented on #4
Could you put those in a yaml file?

[2018-08-17 18:05] jonorthwash commented on #9
From IRC:

A strict sg/pl divide in noun possession:
    кини куората = his/her city
    кини куораттара = his/her cities
    кинилэр куораттара = their city / their cities
    *кинилэр куората (impossible)

Finite verb forms seem to be the same way:
    кини барбыта
    кинилер барбыттара

Still looking into gerund forms

[2018-08-17 18:54] varie commented on #12
It's -лаах (-даах, -наах, -таах) affix. It forms adjectives, for example, өйдөөх smart (one who has mind), күүстээх, strong (one who has strength) дьоллоох happy (one who has happiness), etc. (Ubryatova's book, p. 163). №-дээх is word нүөмэрдээх written using № symbol.

[2018-08-17 18:59] varie commented on #11
I think it's not form of буол word. I found _Буолкалах өрүc_ in Wikipedia - it's name of the river.

[2018-08-17 19:02] jonorthwash commented on #12
Ah, this is a denominal adjective suffix.  So it's derivational, which means all the forms should just be entered in lexc, and we shouldn't try to derive them.  Usually.

[2018-08-17 19:28] varie commented on #11
This form is described in Ubryatova's book on p. 331: "Наклоенение обычно совершаемого действия".

барааччыбын
барааччыгын
барааччы
барааччыбыт
барааччыгыт
барааччылар

барааччым суох
барааччыҥ суох
барааччыта суох
барааччыбыт суох
барааччыгыт суох
барааччылара суох

and also:
барааччыта суохпун
барааччыта суоххун
барааччыта суох
барааччыта суохпут
барааччыта суоххут
барааччыта суохтар

Мир эрдэ _

[2018-08-17 19:57] jonorthwash commented on #11
What's the difference between the two two negative versions of that?

[2018-08-17 20:14] varie commented on #4
https://github.com/apertium/apertium-sah/commit/14572f2c240c2f0751cf28f8c8f13fa2f1660c86

[2018-08-17 21:06] jonorthwash opened #13 "negative form of -ыы/-һын"
@varie, what are the negative forms of e.g., барыы, барааһын?

[2018-08-17 21:08] jonorthwash commented on #13
Also, you said you think it can decline and gave this example:

Which word is the inflected gerund?  Could you put some inflected forms in the ger2.yaml file?

[2018-08-20 09:57] varie commented on #13
I am not sure about negative forms. Is it possible that there is no negative forms?

оҥорууну is accusative of оҥоруу.

I added them in https://github.com/apertium/apertium-sah/commit/a9aed16ff3c25b54f79753f1fc8c3009f20b12fa.

[2018-08-20 10:03] varie commented on #8
It can come after барар, барбыт, барбыта and maybe something else also.

[2018-08-20 10:08] varie commented on #11
Ubryatova doesn't say anything about the difference (p. 332), maybe there is no difference except how they are produced?

[2018-08-20 10:37] varie commented on #11
looks like dative case of word буолуохтаах.

Ubryatova writes that вторичная причастная форма на -ыахтаах can decline.

Examples:

Онно _барыахтаахпын_ мин кыайан өйдөөбөппүн - I can not understand my need to go there.
Уу _кэлиэхтээҕинэн_ ордук сэрэхтээх этэ - It was particularly dangerous due to the forthcoming arrival of water.
Иван _тохтуохтааҕар_ эбии сэтэрэн саҥарда - Instead of stopping, Iva

[2018-08-20 17:53] varie commented on #11
Might it be dative case of сыл + лар + лаах?

It means some range of years like: 80-с сыллардаахха (80s), 1958-59 сыллардаахха (1958-59 years), etc.

[2018-08-20 17:58] varie commented on #11
оҥоһуллубут

They are similar forms as суруйбут, оҥорбут but passive.

[2018-08-22 13:58] varie opened #14 "figure out what negative forms of ger2 (барааһын) are, or if they even exist"
барыы - ?
барааһын - бараамааһын?

[2018-08-22 15:12] varie opened #15 "%{ъ%} not working"

[2018-08-22 15:17] ftyers commented on #15
[code]

[2018-08-22 19:55] jonorthwash commented on #15
I put спортсмен in N5 (https://github.com/apertium/apertium-sah/commit/6232bc1266bcd423bdffa96154af80248fe59cd3) and it seems happy.  I don't think anyone ever implemented `{ъ}`.

We do need to check on the behaviour of Russian nouns though.  @varie, could you provide a few forms of the following nouns: музей, гражданин, туризм, инженер, режиссер, правительство.  I think the following forms would

[2018-08-22 20:03] jonorthwash commented on #6
I believe this is resolved.

[2018-08-22 20:03] #6 closed

[2018-08-22 20:26] jonorthwash commented on #11
Can this also be a verbal adjective and/or a verbal noun?  E.g., барааччы харчы or something?

[2018-08-22 21:44] jonorthwash commented on #11
What's the negative of these?

[2018-08-23 11:28] varie commented on #15
музей`<nom><pl>` : музейдар
музей`<nom><acc>` : музейы
музей`<nom><com>` : музейдыын
музей`<nom><comp>` : музейдааҕар

гражданин`<nom><pl>` : гражданиннар
гражданин`<nom><acc>` : гражданины
гражданин`<nom><com>` : гражданинныын
гражданин`<nom><comp>` : гражданиннааҕар

туризм`<nom><pl>` : туризмнар
туризм`<nom><acc>` : туризмы
туризм`<nom><com>` : туризмныын
туризм`<nom><comp>` : туризымнааҕар

ин

[2018-08-23 13:51] varie commented on #11
Oh, according to sakhatyla.ru оҥоһулун and оҥорулун are both passive of оҥор and there are occurrences of both of them in Wikipedia corpus.

But others seem not to change р to һ:
таһаар - таһаарылын
сытыар - сытыарылын
көтүр - көтүрүлүн
ууллар - уулларылын

[2018-08-23 13:54] varie commented on #11
It is complete paradigm of verb бар and then I realised that it appears to be also same for verb бараа.

[2018-08-23 13:55] varie commented on #11
I think it cannot.

[2018-08-23 14:03] varie commented on #11
барыа суохтаахпын
барыа суохтааххын
барыа суохтаах
барыа суохтаахпыт
барыа суохтааххыт
барыа суохтаахтар

[2018-08-25 14:29] jonorthwash commented on #11
Is there any difference in meaning or usage, or are they used completely interchangeably?

What about көһүн-/көстөр?  Is that passive of көр-?  (If so, maybe it's irregular / an exception.)

[2018-08-25 15:04] jonorthwash commented on #11
Ah, okay, that helps a lot.  Could you add the affirmative forms of a verb ending in иэ and/or ыа (e.g., сиэ/диэ, ыа)  to `habitual.yaml`?  And double check the forms that are already there?

[2018-08-25 18:51] jonorthwash commented on #9
I've started fixing `sg`/`pl` stuff (cf. bcbffc4), but there's one form that looks like it has double plural that's no longer being analysed: табаардардарын.

@varie, do you know what the right analysis for this form is?  Could it be a double plural?

[2018-08-25 18:53] jonorthwash commented on #13
It's entirely possible.  Let's assume there aren't for now.

Looks like that's working: `^оҥорууну/оҥоруу<n><acc>/оҥор<v><tv><ger2><acc>$`

As of bcbffc4, these are passing 100%!

[code]

[2018-08-25 18:53] #13 closed

[2018-08-25 18:54] #12 closed

[2018-08-25 20:16] jonorthwash opened #16 "morphotactics for numbers, etc."
Beginning of imaginary phonology was implemented in e3abeab.  Now we need some real morphotactics for numbers, including the `%` symbol.

[2018-08-26 16:52] ftyers commented on #16
@varie how are case forms after numerals written in Sakha ? Can you give some examples ?

[2018-08-27 09:48] varie commented on #15
[FAIL] туризм<n><comp> => unexpected results: туризмнааҕар

whops, I think **туризмнааҕар** is a right form :).

[FAIL] правительство<n><comp> => unexpected results: правительствотааҕар

and here.. strangely they both sound fine for me, but maybe **правительствотааҕар** is the right one :). Query to google search gives approximately 24 results for правительствотааҕар and 0 for правительстволааҕар.

[2018-08-27 10:06] varie commented on #16
| case | биир | уон биэс | биэс уон алта |
| ------------- | ------------- |------------- | ------------- |
| `nom` | биир | уон биэс | биэс уон алта |
| `par` | биирдэ | уон биэстэ | биэс уон алтата |
| `acc` | биири | уон биэһи | биэс уон алтаны |
| `dat` | бииргэ | уон биэскэ | биэс уон алтаҕа |
| `abl` | бииртэн | уон биэстэн | биэс уон алтаттан |
| `ins` | бииринэн | уон биэһинэн	| биэс уон а

[2018-08-28 15:50] varie commented on #11
https://github.com/apertium/apertium-sah/commit/0da9e23aa62fbdf334eb534c9768ea69171b2f9a

Should it be сырыт instead of сылдьы?

[2018-08-28 15:58] varie commented on #11
I think there is slight difference in meaning which is difficult for me to describe.

I think that passive of көр is көрүлүн. I am not sure about көһүн-/көстөр.

[2018-08-28 16:48] varie commented on #9
I think it might be some erroneous form (should be табаардарын (?)).

Ubryatova states that singular and plural 3rd person possessive forms of plural bases coincide: аттара 'his horses' and аттара 'their horses'. She says that this is explained by the fact that the structure of the plural form of the 3rd person possession affix contains an affix -лар (p. 128).

Though табаардардарын query to googl

[2018-12-10 21:53] jonorthwash commented on #16
@varie, how about if the numbers are written as 1, 15, 56, etc.?  How are the case forms written then?  Which (if any) of these are right: "1дэ", "1-дэ", "1'дэ", etc.?

[2019-05-14 11:58] varie commented on #16
@jonorthwash I found 158 matches for regexp "[0-9]-дэ" and 2221 matches for "[0-9]-тэ" in newspapers corpus consisting of 16,436,999 tokens, whereas I found only 1 match for "[0-9]тэ" and no matches for [0-9]'дэ. Thus, I think that people usually use "1-дэ" format.

[2019-05-14 14:21] jonorthwash commented on #16
Is it the same for possessive morphology, plural, etc?

Are there any major restrictions in terms of which nominal morphology numbers can take?

Also, a more revealing search might be "[0-9]-[дтн][аэоө] ".  I think that should cover all the forms of `<par>`?

[2019-05-15 03:14] jonorthwash commented on #16
I updated some stuff for the numbers (01f1f9f5a9393ce74efd7b9ff35ea37c62d0cd85), but need some tests to verify the phonology.  @varie, could you make a `yaml` file matching the following numbers with the following cases?

numbers: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100
cases: `<par>`, `<acc>`, `<dat>`

[2019-05-15 10:51] varie commented on #16
@jonorthwash, I added numerals.yaml to tests (7213d2e95873d51a3c86653845cfb116bf39aa0b)

[2019-05-15 17:02] jonorthwash commented on #16
I fixed the numerals tests (74e1ff7f661451b7d349182574c6e0dcf6bd83be).  They reveal a few pieces of phonology that are broken, assuming they are right.  But what we really need for this issue is digits.  Could you make an equivalent file for those?

[2019-05-15 17:06] jonorthwash commented on #16
Okay, I converted `numerals.yaml` to `digits.yaml`.  Could you check it for accuracy?

[2019-05-16 02:00] jonorthwash commented on #16
Everything is working in that tests file as of f40bac3 except the following:
[code]

This looks to me like there are errors in the expected forms.  @varie, could you check `numerals.yaml` and `digits.yaml`?

[2019-05-16 10:11] varie commented on #16
@jonorthwash yes, there were errors :(. I fixed them in a639cdf9a882ea66d47bb00838119d582cfbef3f :).

[2019-05-16 17:01] jonorthwash commented on #16
Looking good.

We're getting forms in the various corpora like "20-с" and "179-с".  How should we analyse these?

[2019-05-16 17:09] jonorthwash commented on #16
Also, does т alternate with д in any words besides түөрт?

[2019-05-20 10:14] varie commented on #16
@jonorthwash "20-c" is сүүрбэһис (20th), "179-c" is сүүс сэттэ уон тохсус (179th).

Hmmm, you mean any any word? For example, орт - ордор?

[2019-05-20 12:15] jonorthwash commented on #16
Aha, makes perfect sense, should be easy to handle.

Yes, that's a good example. Can you find more?

[2019-05-22 13:13] varie commented on #16
@jonorthwash,
Verbs containing %{D%}              ! д/т alternation at the end of some verbs (cf. тарт):
куурт:куур%{D%}
өлөрт:өлөр%{D%}
олорт:олор%{D%}
орт:ор%{D%}
тириэрт:тириэр%{D%}
күүһүрт:күүһүр%{D%}
тарт:тар%{D%}
тиэрт:тиэр%{D%}
сүүрт:сүүр%{D%}
чэбдигирт:чэбдигир%{D%}
саҥарт:саҥар%{D%}
иһэрт:иһэр%{D%}
бытаарт:бытаар%{D%}
эрт:эр%{D%}
итирт:итир%{D%}
уустугурт:уустугур%{D%}
күүрт:күүр%{D%}

[2019-05-22 14:13] jonorthwash commented on #16
Aha, good, we already deal with this!

I see that all these examples have the alternation specifically with the т in рт clusters at the end of words.  So I feel compelled to ask: are there any examples of word-final рт that _don't_ have this alternation?

[2019-05-23 00:00] jonorthwash commented on #16
Hmm so the behaviour of these words is confusing me a bit.  Before {T}{A} they do different things, depending on the meaning of {T}{A}?

`тарт<v><tv><ifi><p3><sg> : тар{D}>{T}{A} : тарта`
but
`түөрт<num><subst><par> : түөр{D}>{T}{A} : түөрттэ`
?

That is, the extra т deletes in past tense, but doesn't in partitive case?

[2019-05-27 13:44] varie commented on #16
@jonorthwash I think I made a mistake with "түөрттэ", I think it should be "түөртэ", since I found 154 matches for  "түөртэ" in the newspaper corpus and no any match for "түөрттэ".

[2019-05-27 21:18] jonorthwash commented on #16
So it's "түөртэ" and "4-э" (and not "4-тэ"?)?

[2019-05-28 01:53] jonorthwash commented on #16
Okay, I think I've taken care of this now, in 73daa8b13d72df483bc6615569bf6e3b0c06c18c.  We can probably close this issue now.

[2019-05-28 01:53] #16 closed

[2019-11-22 05:03] jonorthwash commented on #5
Forms like "буоллаҕына" we had as `<gna_cond2>`, but it appears they're better analysed as just `<ger_cond><px3sg><par>`.

[2019-11-22 05:08] jonorthwash commented on #5
@varie, could you give some examples of -ыа (барыа, буолуо, саныа)?  I think it's probably `<gna_fut>` or so (as it's currently in the transducer), but the table says it's `<ger>`...?

[2019-11-22 05:15] jonorthwash commented on #5
Based on these examples, I think `-{I}{A}н` makes `<prc>`, not `<ger>`.  @varie, what do you think?  Do _дьулуйда_ or _кэрэйдэ_ occur with nouns too?  What about with other verb forms?

[2019-11-25 16:32] varie commented on #5
@jonorthwash, I found these examples from the newspapers corpus (translations might be not very accurate, but I tried my best :):
Боростуой киһи сылдьар кыахтаах эрэ буоллаҕына билиэттэрэ _атыыга барыа_ буоллаҕа эбээт.
If common people can go there, only then their tickets _will be sold_.
Бука, Алампа да элбэх кумааҕыта уматылыннаҕа _буолуо ээ_.
_It's probable_ that even Alampa's many papers were

[2019-11-25 16:44] varie commented on #5
@jonorthwash yeah, I think that -{I}{A}н is not `<ger>`. I think that чугаһыан or иирсиэн cannot be a subject of a sentence.
Do дьулуйда or кэрэйдэ occur with nouns too? - yes, for example: "харчытын кэрэйдэ" - he didn't want to spend his money.
What about with other verb forms? - yes, for example: "ыраах барыахпын кэрэйдим" - I didn't dare to go far

[2019-11-25 17:02] jonorthwash commented on #5
These are both evidence, in my mind, of `-{I}{A}н` being a `<ger>`.  Note that a form doesn't have to be able to be the subject of a sentence to be a gerund.

Those seem to be examples of `-{I}{A}`, not `-{I}{A}н`?

[2019-12-02 03:07] jonorthwash commented on #5
@varie, could you give a couple examples of each of the last three types in the table (`{I}м{I}н{A}`, `{B}{A}кк{A}`, `{a}{a}р{I}`), both non-finite, and if present, finite forms?

[2019-12-02 14:26] varie commented on #5
There are examples from Ubryatova's book:
- `{I}м{I}н{A}`
Биллиҥ? - Билиминэ. - Did you recognize? - _Of course I recognized_.
Мааҕыан, Бойуот барыах диэбитигэр, баран _хаалымынабын_. - Just recently, when Boyot invited me, I _should have gone_.

- `{B}{A}кк{A}`
"Кыайар баара сыттыкпын _аҕалбаккабын_." I _didn’t take_ the pillow with me _in vain_, though I could have taken it.
"Эдьигээҥҥэ эмиэ дьи

[2019-12-02 15:53] jonorthwash commented on #5
@varie, very helpful, thanks!  Can you find some non-finite forms of `{I}м{I}н{A}`?

[2019-12-02 16:54] jonorthwash commented on #5
There appears to be some possibility that `{a}{a}р{I}` could be `prc` in addition to `gna`, but we'd have to say бэлэмнэн is an auxiliary.  This is something to consider more deeply in the future.

[2019-12-02 17:30] jonorthwash commented on #5
The following forms are no longer being analysed:
- буолуохтарын, көрдөрүмүөхтэрин, кэлиэхтэрин
  - Are these finite future forms (e.g., `буол<v><iv><fut><p3><pl>`) or non-finite forms (e.g., `буол<v><iv><ger_fut><px3pl><acc>`) or what?
- диэххэ, туттуохха, булуохха, көрүөххэ, бэлиэтиэххэ, өйдүөххэ, туһаныахха, оҥоруохха, ааттыахха, быһаарыахха, билиэххэ, ыйыахха, этиэххэ, ылыахха
  - Are these `<

[2019-12-02 17:49] jonorthwash commented on #5
Also, @varie, which forms are right here?  I.e., is it барбатах or барбабыт, or are both right (with different meanings or not?)?
[code]

[2019-12-02 18:01] varie commented on #5
- өрүтүн, устубут, өрүтү, өрүтүнэн
I think these are just form of өрүт noun. I am not sure if they are used as postpositions.
устубут is a form of past singular 3p уһул and үһун verbs.

- истэллэр
form of present plural 3p иһит verb

- right:
[code]

- not right:
[code]

[2020-02-08 20:43] jonorthwash opened #17 "some more unanalysed forms"
Which of the following are passive forms?  / What is the analysis of these forms, and the lemma?
- билиниллэр
- сиэниллэр
- билиниллибит
- ыраастаныллар
- өйдөнүллэр
- өрдөнүллэр
- ирдэниллэр
- хааччахтаныллар
- тарҕаныллыбыт
- билиниллэллэр

[2020-02-08 22:16] jonorthwash opened #18 "figure out -AAр form"
бараар, сылдьаар, диэр

[2020-02-08 22:25] jonorthwash commented on #18
Убрятова 322-323

Seems to be remote future second person, and also has emphatic forms.

[2020-07-10 09:38] nlhowell opened #19 "Installed modes are missing files"
modes.xml includes some modes with `install="yes"`, but the required
files aren't installed.

Some generic suggestions:
* -lexc and -twol modes probably aren't useful to users
* -spell modes should depend on --enable-ospell
* .deps files are never installed, so any modes using them shouldn't be
  installed.

* Messages for package app-dicts/apertium-sah-9999:

* Failed to find '/usr/share/apertium

[2021-01-02 13:35] ftyers opened #20 "Error: Invalid dictionary (hint: the left side of an entry is empty)"

[2021-01-02 13:38] ftyers commented on #20
I can reproduce this:
[code]

[2021-01-02 13:42] ftyers commented on #20
Wow, this one was an easy fix:
[code]

[code]

[2021-01-02 13:43] #20 closed

[2021-02-10 17:01] ryskina opened #21 "<px3sg> and <px3pl> syncretism"
Opening an issue per @ftyers' request.

I see a lot of syncretic forms in noun paradigms:
[code]
Are ``<px3sg>`` and ``<px3pl>`` always expressed with the same morpheme? If yes, why are they annotated separately and not with ``<px3sp>`` like in Tuvan?

[2021-02-23 00:59] jonorthwash commented on #21
I think it's that in `<pl>` forms, the distinction between possessor number collapses.  I suppose we could use `<px3sp>` in those cases.  But then `<pl><px3sp>` forms would still be ambiguous with `<px3pl>`, if I understand right.

@varie, do you have any thoughts on this?  Is the ambiguity/syncretism currently in the transducer correct?

[2021-02-24 03:47] ryskina opened #22 "Multiple <neg><imp><p2><pl> forms produced by generator"
I'm using `.deps/sah.RL.hfst` to generate inflected verbs. It generates several `<neg><imp><p2><pl>` forms that differ only by one vowel. Is this behavior intended?

[code]

[2021-03-01 19:06] jonorthwash commented on #22
You've found an error in the phonology, related to some stuff I was trying to fix recently.  I suspect the first option is probably the correct one, or possibly a form with a short vowel.  @varie?

[2021-03-02 01:27] ryskina opened #23 "<pii> forms"
What do the `<pii>` forms correspond to? The generator gives me
[code]

Most forms match the Ubriatova book paradigm for imperfect past (прошедшее незаконченное время, "unfinished past", pp. 228, 315):

![Screen Shot 2021-03-01 at 8 21 25 PM](https://user-images.githubusercontent.com/10194013/109582255-d2e36600-7acb-11eb-9f81-2c1a2281ba9a.png)

But the generator has `барабыт:бар<v><iv><pii><p1><pl

[2021-05-26 04:29] jonorthwash commented on #23
It looks like this should be exactly that tense, and that it's an error.

[2021-05-26 04:37] jonorthwash commented on #15
I think we can probably close this issue.  Feel free to reopen if something was missed.

[2021-05-26 04:37] #15 closed

[2021-05-26 13:31] #19 closed

[2021-06-08 16:49] jonorthwash opened #24 "бара?"
The form бара appears in the transducer as a noun; investigate where this came from and see if it needs to be removed or left.

[2021-06-08 16:51] jonorthwash commented on #22
@varie reports the correct form is "булкуһумаҥ"، but would like to double check.

[2021-06-08 16:54] jonorthwash commented on #21
"аттара" is `<sg><px3sp>` and `<pl><px3sp>`.

[2021-06-08 17:00] jonorthwash commented on #21
@ftyers says that as long as the disambiguation has to be done outside of the transducer, and can't be done reliably and regularly at the clause or sentence level, then there's no reason to split `<pl><px3sp>` into two sets of tags.

[2021-06-08 17:01] jonorthwash commented on #21
Let's merge these back together.  This will look like this:
[code]

[2021-06-08 17:15] jonorthwash commented on #17
Appears to mostly be passive; perhaps deprioritise.

[2021-06-08 17:28] jonorthwash opened #25 "rename numbered finite forms"
* `<ger1>` (-IAн) should be `<ger_cond>` or similar
  * көрүөн, кэлиэн
  * compare to көрүө (`<ger_pot>`) and көрүөх (`<ger_fut>`)
* Figure out `<ger2>` (#14) - maybe `<ger>`? ("act of ...")
  * барааһын, көрөөһүн, кэлээһин

[2021-06-08 17:40] jonorthwash commented on #11
көстөн ыл- < көҺүн- = ‘be seen’

[2021-06-08 18:05] jonorthwash commented on #9
Resumed in #21.

[2021-06-08 18:05] #9 closed

[2021-06-08 18:08] jonorthwash commented on #5
Related: #25.

[2021-06-08 18:08] jonorthwash commented on #5
I will finish going through the table and making sure it's all in the `lexc` file correctly.

[2021-06-08 18:09] jonorthwash commented on #8
I will go back through this issue to make sure it can be closed.

[2021-06-08 18:19] jonorthwash opened #26 "negative of <ger_pot>"
көрүө, кэлиэ, барыа (бар-, бараа-)

[2021-06-08 18:21] jonorthwash commented on #22
барымаҥ, etc.

[2021-06-08 19:38] jonorthwash commented on #25
Oh no, `<ger_cond>` is already used by -ТАх, like бардах, кэллэх, көрдөх...  Can we think of a better name for either -IAн or -ТАх?

[2021-06-08 19:39] jonorthwash commented on #25
Maybe irrealis, `<ger_irre>`?

[2021-06-08 19:41] #25 closed

[2021-06-08 20:57] jonorthwash commented on #22
@varie, could you add some forms of some other verbs to `verbs-imp.yaml`?  Maybe the remaining forms of булкус, and also сиэ, бараа, and maybe something with ө and ending in a nasal, like көм?

[2021-06-09 03:37] jonorthwash commented on #22
I think everything's working here now.  We can close this once we've tested more imperative forms.

[2021-06-09 03:52] jonorthwash commented on #14
We have in the current `ger2.yaml` file and in the `lexc` and `twol` files before I changed them today data, descriptions, and code that suggests that this form (which we're now calling `<ger>`) should be -II after consonants and -һIн after vowels.

If this is right it should be көрүү, кэлүү, and барыы, and not the forms I had in https://github.com/apertium/apertium-sah/issues/25#issue-915278754.

[2021-06-09 06:22] varie commented on #26
At first I thought that they might be:
көрүө—көрүмүө,
кэлиэ—кэлимиэ,
барыа(бар-)—барымыа.
бараа(бараа-)—бараамыа.
I guess I constructed them by analogy with көрүөx-көрүмүөx forms.
But then I didn't find those forms in corpora, so I thought that maybe those made only analytically:
көрүө—көрүө суоҕа,
кэлиэ—кэлиэ суоҕа,
барыа(бар-)—барыа суоҕа,
барыа(бараа-)—барыа суоҕа.

[2021-06-09 06:43] varie commented on #24
I didn't find "бара" as noun in corpora. There are 3728 uses of "бара". I checked dozen of them—these were all a verb form. I didn't find in corpora "баралар" which would be plural of "бара". So, I would conclude that it is an error. About where it came from—I haven't checked yet.

[2021-06-09 13:09] jonorthwash commented on #26
So we're going with the analytic forms?  Do the forms of суоҕа change for person, number, etc.?  Can they take case endings?

[2021-06-09 13:13] jonorthwash commented on #24
Given the purported meaning, it might also be good to check hypothetical possessive forms (of singular and plural), potentially also with various case forms.

An even better approach might be to pipe the corpus through the analyser and see if any analyses comes up with `бара<n>` at the beginning—or could be `бара<n>` and not also verb forms.

[2021-06-11 13:27] varie commented on #22
Great!
Added tests (c866df2).

[2021-06-28 10:47] varie commented on #26
Hmm, I guess they change by number and person:
көрүө суохпут,
көрүө суоххут,
көрүө суохтара—or are those not gerund anymore?

I guess they can take case endings:
көрүө суоҕунан, көрүө суоҕунааҕар;
көрүө суохтарынан.

[2021-07-27 20:58] ryskina opened #28 "Generator errors identified through the shared task"
This is a list of generator errors that @varie identified while working on the error analysis for the shared task. These forms were produced by the version of the generator from ~March 2021.

**Incorrect inflections:**

| Generated form                                               | Correct form   |
| ------------------------------------------- | -------------- |
|`относительностьбор:относительно

[2021-09-15 00:14] jonorthwash opened #29 "-AAт forms"
There are verb forms in `-{A}{A}т` that are identified by [Johanson (2021)](https://doi.org/10.1017/9781139016704.046) as a type of converb.  Examples: биэрээт, түһээт, ылаат.

(An English gloss of these forms appears to be "as soon as X Y-ed" or "upon having Y-ed"?  In Kyrgyz these semantics are expressed with a VN+possessive ending followed by a postposition, e.g. берээрим менен - "as soon as I

[2021-10-12 18:56] jonorthwash opened #30 "generator error for `prc_impf` after `ы`-final verb(s)"
[code]

[2021-12-28 19:17] jonorthwash opened #31 "fill in "Testing" section of README"
The [testing section of the README file](https://github.com/apertium/apertium-sah/blob/0fa3acefdf4da5961c5b5e4468493b5d7a315a28/README#L50-L64) needs a good example sentence; ideally one that has some ambiguity that we can resolve, even if fairly simple (like `p3`.`sg`/`pl`).  (It doesn't have to be currently resolved.)

[2021-12-28 19:21] jonorthwash commented on #30
@varie, is the correct form of this сылдьыы, сылдьаа, сылдьыа, or something else?

[2021-12-28 19:25] jonorthwash commented on #29
@varie, are there negative forms of these?

[2021-12-28 20:52] jonorthwash commented on #28
@ryskina, what's wrong with this one?

[2021-12-28 21:05] ryskina commented on #28
Sorry, the correct form should be `вулкаммытыныын`

[2021-12-28 21:29] jonorthwash commented on #28
Aha, makes sense.  Got it!

[2021-12-28 21:38] jonorthwash commented on #28
@varie, wow, парольда is crazy...  If it were a Sakha word, without ь, the correct form would be паролло, right?  Is it pronounced паруоль?

[2021-12-29 20:48] jonorthwash commented on #26
Does this mean like, "by the fact that they couldn't see" and the like?  Or something else?

[2021-12-29 20:54] jonorthwash commented on #11
Currently passive of оҥоһун- is being generated as оҥостулун-.  Is that wrong?

[2021-12-29 21:29] jonorthwash commented on #22
@varie, is the conditional of көм- "көмтөр" or "көмнөр"?  What about the -TAх past tense: "көмнөх" or "көмтөх"?

If those are both with н and not т (as the transducer currently thinks they are), then do you have any idea why the imperative is with a т and not an н?

[2021-12-29 21:54] jonorthwash opened #32 "unanalysed formed"
|---|---|---|---|---|
| occurrences | form | correct analysis | reason for absence in transducer | fixed? |
|---|---|---|---|---|
| 3775 | эбитэ
| 3462 | илдьэ
| 2878 | ардыларынааҕы
| 2760 | уолаттар | irregular?
| 2690 | этилэр
| 2235 | көрсөн
| 2144 | иги
| 2079 | сиринээҕи
| 1981 | министрэ | missing stem
| 1943 | оҥоһуллубут
| 1872 | буолуой
| 1806 | Оччолорго
| 1714 | бүгүҥҥү  | missing stem

[2021-12-29 22:16] jonorthwash commented on #32
@varie, can you help me figure out the correct analyses for these?  (Ignore any I've already fixed.)

[2022-01-03 10:24] varie commented on #30
I think that the lemma is "сырыт" and not "сылдьы". I think that the correct form of that should be "сылдьыа".

[2022-01-03 10:30] varie commented on #29
Yes, for example: "барымаат", "кэлимээт", "көрүмээт", "сылдьымаат".

[2022-01-03 10:31] varie commented on #26
Yes

[2022-01-03 10:35] varie commented on #11
I think that it should be "оҥоһулун".

[2022-01-03 18:47] #29 closed

[2022-01-03 20:32] jonorthwash commented on #11
But other forms have ст, right?  E.g. оҥостор?

[2022-01-03 20:40] jonorthwash commented on #30
Hm, сылдьыа is what we get for `сырыт<v><iv><ger_pot><nom>`; we're currently getting сылдьа for `сырыт<v><iv><prc_impf>`.  Is there any chance this is right?

Also, I assume based on your response that there should be no stem сылдьы in the transducer—is that right?

[2022-01-03 20:46] jonorthwash commented on #26
What about "by the fact that they could see"?  We've limited the affirmative forms to only have nominative forms and no possessive forms—is that right?

[2022-01-04 13:45] varie commented on #11
Yes

[2022-01-04 14:31] jonorthwash commented on #11
Hm, that leaves an interesting pattern that I'm not sure what to do with.

What about иһит, уһул, оҕус, тутун, үтүгүн, умун?  What are the passive forms of those?

[2022-01-04 14:54] varie commented on #30
That is right.

[2022-01-04 15:00] varie commented on #30
сылдьыа—сырыт<v><iv><ger_pot><nom>;
сылдьа—сырыт<v><iv><prc_impf>

[2022-01-04 15:05] varie commented on #11
I think:
иһит-иһилин,
уһул-уһулун,
оҕус-охсулун,
тутун-тутулун,
үтүгүн-үтүгүлүн (?),
умун-умулун.

[2022-01-06 03:10] jonorthwash commented on #11
Making this pattern work have made the following forms not analyse (from Wikipedia corpus):
[code]

@varie, could you add these forms to [passives.yaml](https://github.com/apertium/apertium-sah/blob/master/tests/passives.yaml) and check the forms in there already?

[2022-01-06 04:21] jonorthwash commented on #17
@varie, could you add these to [passives.yaml](https://github.com/apertium/apertium-sah/blob/master/tests/passives.yaml)?

[2022-01-06 17:13] jonorthwash commented on #28
Are we sure that it's supposed to be ороскуоккына (and similar forms) and not ороскуоккуна?

[2022-01-06 17:19] jonorthwash commented on #28
Should the lemma be корреспонден or корреспондент?  The test data has both?

[2022-01-10 16:59] jonorthwash commented on #26
Okay, interesting.  In that case, we can close this issue.

[2022-01-10 16:59] #26 closed

[2022-01-10 18:05] jonorthwash commented on #4
All of these forms seem to analyse okay; closing for now.

[2022-01-10 18:05] #4 closed

[2022-01-10 18:21] jonorthwash opened #33 "do BIт gerunds have bare <nom> forms?"
Currently forms like барбыт are analysed as `<ger_past><nom>`, but it's not clear that they can be used as bare verbal nouns.  Forms like барбыта (`<ger_past><px3sp><nom>`) are fine.

[2022-01-10 18:43] jonorthwash opened #34 "fix <past> in tests"
Past forms in >BIт>A etc. should be `<plu>` instead of `<past>`.

[2022-01-10 18:43] jonorthwash commented on #11
Fix phonology for умнулун/умнуллубат (@jonorthwash).

[2022-01-10 18:47] jonorthwash commented on #14
кэлээһин, кэлимээһин

[2022-01-10 19:04] jonorthwash commented on #14
| verb | aff | neg |
| --- | --- | --- |
| бар (go) | барыы | барыымааһын |
| бараа (spend) | барааһын | бараамааһын |

[2022-01-10 19:05] varie commented on #14
барыы - барыымы

[2022-01-10 19:10] jonorthwash commented on #14
Keep trying to find negative forms of -ыы; currently distribution of II/AAһIн matches above description.

[2022-01-10 19:46] jonorthwash opened #35 "Add some more moods"
from https://www.jehsmith.com/1/2021/03/verbal-mood-in-sakha-a-comprehensive-analysis.html

## "Affirmative mood"
Foorms like барыыһы+copula endings, 3 negative forms: барымыыһы+copula endings, барыа суох+copula endings, and барыа+~endings суох.

## "Debitive mood"
* Aр>DAAx  (should be realised at moment of speaking; must be realised after moment of speech)
* IAх>TAAх  (must be completed in the f

[2022-01-10 19:52] jonorthwash commented on #14
See also #35.

[2022-01-10 20:03] jonorthwash commented on #22
Correct:
* көмнөх

[2022-01-10 20:11] jonorthwash commented on #24
Remove `бара<n>`

[2022-01-10 20:13] jonorthwash commented on #28
* корреспондент as lemma, корреспондена as a form

[2022-01-10 20:22] jonorthwash commented on #21
@varie says спорда shouldn't be `<px3sp>`.

[2022-01-14 19:13] varie opened #36 "Conjugations of NPs"
Conjugated NPs are not recognised by the transducer:
Иван is analysed,
but Ивана is no not.

[2022-01-14 22:23] jonorthwash commented on #35
This is basically done except that possessive forms of `<ger_pot>` don't seem to be working, which is how we need to handle the third negative of "affirmative" mood (барыа+~endings суох).

[2022-01-14 22:51] jonorthwash commented on #21
Horizontal access is possessor, vertical is possessum.
|   |  sg | pl |
|---|---|---|
| sg | гуората  | гуораттара |
| pl | гуораттара | гуораттара |

[2022-01-14 23:14] jonorthwash commented on #21
Proposing changing it to:
|   |  px.sg | px.pl |
|---|---|---|
| sg | куората (`<px3sg>`) "his/her city"  | куораттара (`<px3pl>`) "their city" |
| pl | куораттара (`<pl><px3sp>`) "his/her cities" | куораттара (`<pl><px3sp>`) "their cities" |

[2022-01-14 23:17] #35 closed

[2022-01-22 10:58] varie commented on #31
@jonorthwash, I wonder what would be a good sentence... something like "Аттарын аһаталлар"?

[2022-02-07 10:42] varie opened #37 "Холбуу туһаайыы - reciprocal"
бар + ыс + ан = барсан
суруй + ус + ан = суруйсан
<v><recp><converb_past>

[2022-02-07 11:20] varie opened #38 "Фразеологизмы"

[2022-02-09 09:25] varie opened #39 "Missing verb form - voice: Reflexive voice (REFL)"
Example: сууйун

[2022-02-09 09:26] varie opened #40 "Missing verb form: Assertive Affirmative (ASS AFF)"
Examples:
барыыһы
кэлииһи

[2022-02-09 09:27] varie opened #41 "Missing verb form: Premonitive Potential (PREM POT)"
Examples:
бараайа/-ээйэ/-өөйө/-оойо
бараайык/-ээйик/-өөйүк/-оойук

[2022-02-09 09:34] varie opened #42 "Confusion between Pluperfect and Resultative past tense Perfective + missing forms"
1. According to Gavril Torotoev's table forms like "барбыт этим" are called Pluperfect (PLPF), such form is missing in the transducer.

2. According to Gavril Torotoev's table forms like "барбыппын" and "баран турабын" are called Resultative past tense Perfective 1st and 2nd respectively. Apertium-sah analyses form "барбыппын" as `past` and `ger_past ⋅ px1sg ⋅ acc`, "баран турабын" form is missing

[2022-02-09 09:37] varie opened #43 "Missing verb form: Iterative Raritive"
Examples:
барыталаа
арартаа

[2022-02-09 09:41] varie opened #44 "Missing verb form - aspect: Properative Intensive (PROP INTENS)"
Example:
хампахтаа

хаамп + -махтаа/-мэхтээ/-мохтоо/-мөхтөө
туур + -бахтаа/-бэхтээ/-бохтоо/-бөхтөө
-пахтаа/-пэхтээ/-похтоо/-пөхтөө

[2022-02-09 09:43] varie commented on #44
Such form are also Diminutive (DIM)

бар + -аахтаа/-ээхтээ/-оохтоо/-өөхтөө

[2022-02-09 09:43] varie opened #45 "Missing verb form - aspect: Inchoative (INCH)"
күл + эн бар; ытаа + бытынан бар; оҥор + он киирэн бар; абар + ан тур; улаат + ан кэл; ытаа + ан эр

[2022-02-09 09:44] varie opened #46 "Missing verb form - aspect: Durative Progressive Continuative (DUR PROG CONTIN)"
бар + -ан+ис, ытаа + -ыы+сырыт, кэл + -э+тур,  бар + ылаа, лыҥ + кынаа, ньаа + ҕынаа, баб + ыгыраа, бал + лыгыраа, хаб + дьыгыраа, кур + дьугунаа, кыч + чыгынаа, бычыгынаа + й

[2022-02-09 09:45] varie opened #47 "Missing verb form - aspect: Semelfactive (SEM)"
көр + ө +түс, суруйа + -а +оҕус; оҥор + -а(-ыы)+тарт; куттан + -ан+ыл, тыс + гын, малай + с гын, ходьой + х гын; дьүккүй + к гын

[2022-02-09 09:46] varie opened #48 "Missing verb form - aspect: "Perfective Тerminative Cessative" ("PERF/PFV TERM CESS")"
суруй + -ан+кэбис,  бар + -ан+хаал; сит + эн ыл; бырах + ан биэр

[2022-02-09 09:59] varie commented on #37
1. I think that every verb gets that.
2. суруйтарыс: тар-causative (the transducer analyses it as imp) ыс-reciprocal (coop ⋅ imp in the transducer).
3. I will answer to this later.
4. I am not sure. In the Gavril Torotoev's table there is no anything called cooperative. That form is called reciprocal in the table.

[2022-02-09 13:50] jonorthwash commented on #39
As I understand, this is a derivational suffix, and is not productive (cannot occur with any verb), so is not something Apertium should include in its transducer.

Feel free to reopen if I've misunderstood.

[2022-02-09 13:50] #39 closed

[2022-02-09 13:53] jonorthwash commented on #38
That can be done through `apertium-separable`.  We can put these in an lsx file.

[2022-02-09 13:54] jonorthwash commented on #38
However, there's not much I can do without a list of MWEs.  They will have to be manually identified.

[2022-02-09 13:55] jonorthwash commented on #41
What does this mean?

[2022-02-09 13:58] jonorthwash commented on #43
What do these mean?

What are the lemmas of the forms you provided?  Could you give a couple more examples?

[2022-02-09 14:01] jonorthwash commented on #44
What do these forms mean?   Are these two different forms?  Could you add some more examples?

[2022-02-09 14:03] jonorthwash commented on #46
I don't understand your examples. Could you provide the actual forms that need to analysed, and something about how they should be analysed?

[2022-02-09 14:03] jonorthwash commented on #47
I don't understand your examples. Could you provide the actual forms that need to analysed, and something about how they should be analysed?

[2022-02-09 14:43] varie commented on #48
**Perfective:**
тардан кэбис,
кэтэн кэбис (I think кэл cannot be used in this form),
аhаан кэбис.

**Тerminative:**
тардан хаал,
кэлэн хаал,
аhаан хаал.

**Cessative:**
тардан биэр,
кэлэн биэр,
аhаан биэр.

[2022-02-11 15:34] varie commented on #46
Баран ис,

ытыы сырыт,

кэлэ тур,

барылаа, лыҥкынаа, ньааҕынаа, бабыгыраа, баллыгыраа, хабдьыгыраа, курдьугунаа, кыччыгынаа, бычыгынаай,

— these should be one of Durative/Progressive/Continuative.

[2022-02-11 15:36] varie commented on #45
күлэн бар; ытаабытынан бар; оҥорон киирэн бар; абаран тур; улаатан кэл; ытаан эр — I am not sure if these all should have `<inch>` tag 🤔.

[2022-02-11 15:39] varie commented on #44
I know diminutive meaning, like do something a bit: хампахтаа - walk a bit, турбахтаа - stay a bit, etc.

[2022-02-11 15:44] varie commented on #41
бараайа - I think like we a guessing/suspecting that he will go. I think the meaning of бараайык is also close to that.

[2022-02-11 16:20] jonorthwash commented on #48
So currently these mostly analyse "correctly" in the Apertium sense, e.g.:

[code]

хаал and биэр need to be added as `<vaux>`، but that's simple.

However, if it's determined that something like `^аhаан кэбис/аһаа<v><tv><perf><imp><p2><sg>$` is preferable, then this can be accomplished with either a switchable modification to the transducer (using a comment that normally gets grepped out), or a s

[2022-02-11 16:23] jonorthwash commented on #47
The first four examples are the same as what's going on in #48 (see [my comment there](https://github.com/apertium/apertium-sah/issues/48#issuecomment-1036381095)).

тыс гын (and possibly the others with гын) is an ideophone with a light verb.  We could make a special tag for an ideophone (it's always uninflected, right?), or we could lexicalise form like this as single verb stems.  If the former

[2022-02-12 19:03] jonorthwash commented on #46
The first three are like #48.

What's going on with the other ones?  Is there a productive suffix there?  What should the analysis be?

[2022-02-12 19:13] jonorthwash commented on #44
Do these forms inflect?

How productive is the suffix?  Can you add it to any verb?

[2022-02-12 20:19] jonorthwash commented on #43
So what do they mean?  (I don't know the term "raritive".)  How productive is this morphology?

[2022-02-12 20:21] jonorthwash commented on #41
How productive is it?  (Does it attach to every verb?)

What comes after it (tense marking, person marking, etc.?)?

Can these two suffixes be used interchangeably, or do they have different meanings?

[2022-04-25 16:32] varie opened #49 ""көрсүөххэ" phonology doesn't work"
I also noticed that "көрсүөххэ" phonology doesn't work but "барыахха" works